# Xcode user data (applies everywhere)
**/xcuserdata/
**/*.xcuserstate

# SwiftPM
.swiftpm/configuration
.swiftpm/xcode/xcuserdata
.build/

# OS files
.DS_Store

!**/__Snapshots__/**/*.1.png  # Keep reference images
**/__Snapshots__/**/*.png  # Keep reference images